<!-- <div>
    <input type="text" [(ngModel)]="inputValue">
    <button (click)="Submit()">Submit</button>
</div>

<app-second [data]="userInput"></app-second> -->

<div *ngFor="let data of Array">
    <p>id is:{{data.id}}</p>
    <p>name is:{{data.name}}</p>
    <p>number is:{{data.number}}</p>
</div><!-- <div>
    <input type="text" [(ngModel)]="inputValue">
    <button (click)="Submit()">Submit</button>
</div>

<app-second [data]="userInput"></app-second> -->

<div *ngFor="let data of Array">
    <p>id is:{{data.id}}</p>
    <p>name is:{{data.name}}</p>
    <p>number is:{{data.number}}</p>
</div>
